@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="text-center mt-5">
    <h4>Email Confirmed</h4>
    <p>Your email has been successfully confirmed. You may now <a asp-action="Login">Login</a>.</p>
</div>
