@using Employee_management_system.Models.Entities
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h2 class="text-center mb-4">Reset Your Password</h2>

<form asp-action="ForgotPassword" method="post" class="w-50 mx-auto">
    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning w-100">Send Reset Link</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
